<main class="login-container">
    <header>
        <h1  class="brand-title">
          Easy<span>Fund</span>
        </h1>
    </header>
    <section class="login-info-container">

        <div class="container-information">
            <h2 class="login-info-title">EasyFund, the savings fund manager that adapts to you, is here!</h2>
            <p class="login-info-description">Open your account now and start growing with flexibility and security.</p>
        </div>

        <section>
            <form class="login-form" aria-labelledby="login-form-title">
                <h2 id="login-form-title" class="login-form-title">Log in to EasyFund</h2>
                <p class="login-form-description">Enter your details below</p>

                <div class="input-container">
                    <input 
                        type="text" 
                        name="email"
                        id="email"
                        placeholder="ID number"
                    >    
                </div>
                    <a 
                    href="/options"
                    class="login-button">Log in</a>
            </form>
        </section>
        
    </section>
</main>
<router-outlet></router-outlet>

